@font-face {
    font-family: neuton;
    src: url(fonts/Neuton-Regular.ttf);
  }
  @font-face {
    font-family: neuton;
    font-weight:bold;
    src: url(fonts/Neuton-Bold.ttf);
  }
  @font-face {
    font-family: neuton;
    font-style:italic;
    src: url(fonts/Neuton-Italic.ttf);
  }
  
body{
    margin:0;
    background:#f2f2f2;
    color:black;
    font-family:neuton;
    width:calc(100vw);
    overflow-x:hidden;
}
.container-fluid{
  padding:0 !important;
}
/*homepage*/
.background{
  height:calc(100vh);
  width:calc(100vw);
}
.title{
  height:calc(100vh);
  padding-top:50px;
  background-color: rgba(0,0,0,0.7);
  display:block;
  color:black;
}
.title-block i{
  color:#ff4d4d;
  font-style: normal;
}
.title-block *{
  text-align:left;
}
.title-block{
  margin-bottom:25px;
}
.page-title{
  font-size:48px;
  font-weight:bold;
}
.page-subtitle{
  font-size:30px;
}
.author{
  font-size:20px;
  margin-bottom:0;
}
#map-container{
  height:100vh;
  width:100vw;
  margin-top:60px;
}
#map{
    height:100%;
    display:block;
}
#map, #map-container{
  background:#404040;
}
.leaflet-popup-content-wrapper{
  border-radius:0;
  background: #f2f2f2;
  border: 1px solid rgba(0,0,0,0.2);
}
.leaflet-popup-tip{
  background: #f2f2f2;
  border: 1px solid rgba(0,0,0,0.2);  
}
.treaty-popup{
  font-family:neuton;
  border-radius:0;
  font-size:16px;
}
.treaty-popup b{
  font-weight:bold;
}
/*table of contents and introduction*/
.outline{
  margin-top:20px;
}
.opening{
  margin-top:30vh;
}
.opening-block{
  color:black;
  background:#dbdbdb;
  padding:10px;
  margin-top:50px;
}
.opening-block p {
  padding:0;
  margin:0;
}
.intro{
  padding-left:10px;
  padding-bottom:50px;
}
.intro-paragraph{
  padding-left:0;
}
.intro h4{
  font-style: italic;
  font-weight: bold;
}
.intro b, .opening b{
  color:#ff4d4d;
  font-weight: bold !important;
}
.intro hr{
  width:50%;
}
.content{
  font-size: 24px !important;
}
#map, #map-container{
  background:#404040;
}
/*information page*/
#homesteading, #resistance, #making, #download, #reading, #authors{
  background:#dbdbdb;
}
#making p, #reading p, #download p, #authors p{
  font-size:16px !important;
}
.contents a{
    display:block;
    font-size:20px;
    color:black !important;
    text-decoration: none;
}
.contents a:hover{
  text-decoration: underline;
}
.block{
  display:block;
  padding:50px;
  padding-left:10px;
}
.block p, .intro p{
  display:block;
  font-size:20px;
}
.block a, .intro a{
  color:black;
}
.block .full-width{
  width:100%;
}
.caption{
  font-size: 14px !important;
}
.homestead-color{
  color:#ff4d4d
}
.nh-color{
  color:#ff4d4d
}
.res-color{
  color:#e0e0d1
}
.native-pop-color{
  color:#a3a3c2;
}
b{
  font-weight:normal
}
h2{
  font-weight:bold;
  color:#ff4d4d;
}
h4{
  font-weight:bold
}
.data-desc b{
  font-weight:bold;
  color:#ff4d4d
}
/*SIDEBAR*/
#sidebar{
    width:300px;
    height:calc(100vh - 60px);
    display:inline-block;
    overflow:scroll;
    padding-left:10px;
    padding-right:10px;
    font-family:neuton;
}
/*dropdown menu*/
#year-dropdown{
  background:#29293d;
  color:white;
  border: white 1px solid;
  font-family:neuton;
  font-size:16px;
  padding-bottom:2px;
}
/*timeline slider*/
.range-slider{
  width:calc(100% - 50px);
}
/*step buttons*/
.step, #reset{
  background:#29293d;
  color:white;
  border: white 1px solid;
  padding:5px;
  font-family:neuton;
  font-size:16px;
}
/*MOBILE TIMELINE*/
.mobile-timeline{
  margin-bottom:25px !important;
  font-family:neuton;
  font-size:16px;
}
/*ICONS*/
.icon{
  width:40px;
  height:40px;
  color:white;
  font-size:30px;
  margin-top:0 !important;
}
.icon:hover{
  cursor:pointer;
}
.legendIcon{
  top:10px;
  padding-left:15px;
  background:#f2f2f2;
  border:1px solid rgba(0,0,0,0.2);
  color:black;
}
/*LEAFLET ZOOM ICON*/
.leaflet-control-zoom a{
  background:#f2f2f2 !important;
  color:black;
}
.leaflet-control-attribution{
  background:#f2f2f2 !important;
}
.leaflet-control-attribution > a{
  color:black;

}
/*OVERVIEW*/
.timeline{
  width:400px;
  font-family:neuton;
  font-size:18px;
  background:#f2f2f2;
  border:1px solid rgba(0,0,0,0.2);
  padding:10px;
  color:black;
}
/*LEGEND*/
.legend{
  font-family:neuton;
  background:#f2f2f2;
  padding:10px;
  font-size:16px;
  border:1px solid rgba(0,0,0,0.2);
  color:black;
}
.parcel-legend{
  margin-top:5px;
  margin-bottom:5px;
  vertical-align: middle;
}
.legend-block{
  width:30px;
  height:20px;
  display:inline-block;
  margin-right:5px;
}
.layer-check label{
  padding-left:5px;
}
.native-pop-legend{
  border-radius:50%;
  background:#a3a3c2;
  display:inline-block;
}
.native-pop-caption{
  display:inline-block !important;
  margin-right:5px;
  margin-bottom:5px;
}
/*navbar*/
.navbar{
  background:black;
  height:60px;
  padding:0;
}
.navbar-brand, .nav-link, .navbar-toggler{
  color:white;
  font-family:neuton;
}
.nav-link{
  font-size:20px;
}
.navbar-brand{
  font-size:25px;
}
.navbar-brand:hover, .nav-link:hover{
  color:gray;
}
.navbar-collapse{
  background:black;
}
/*RESPONSIVE STYLING*/
@media screen and (min-width: 768px){
  .background{
    background-image:url("../img/home_background_large.jpg");
    background-repeat: no-repeat;
    background-size:cover;
  }
}
@media screen and (max-width: 768px){
  .background{
    background-image:url("../img/homestead-act-xl.jpg");
    background-repeat: no-repeat;
    background-size:cover;
  }
}
@media screen and (max-width: 576px) {
  .background{
    background-image:url("../img/homestead-act-xl.jpg");
    background-repeat: no-repeat;
    background-size:cover;
  }
  .select{
    width:calc(100vw - 20px);
    height:calc(100vh - 100px);
    overflow:scroll !important;
  }
  .close-select{
    display:block;
  }
  .info{
    width:150px;
  }
  .info > *{
    display:inline-block;
    margin-right:10px;
  }
  .overview{
    margin-top:20px !important;
  }
  .timeline{
    width:calc(100vw - 20px);
    bottom:20px;
  }
}
